<!DOCTYPE html>
<html>
<head>
    <title>Chat app!</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block content %}
    <div id="app" data-username="{{ app.user.getUsername() }}"></div>
{% endblock %}
{% block javascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
<html>