<template>
    <div class="input-group">
      <input type="text" placeholder="Type a message" v-model="content" @keyup.enter="sendMessage" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
      <div class="input-group-append">
        <button id="button-image" type="button" class="btn btn-link" :class="'bg-light'" @click="$bvModal.show('uploadModal')"> <i class="fa fa-camera"></i></button>
        <button id="button-addon2" type="button" class="btn btn-link" :class="'bg-light'" @click="sendMessage"> <i class="fa fa-paper-plane"></i></button>
        <b-modal id="uploadModal" title="Image upload!" @ok="uploadImage">
          <b-form-file accept="image/*"
                       v-model="imageFile"
                       placeholder="Choose a image file or drop it here..."
                       drop-placeholder="Drop file here..."></b-form-file>
        </b-modal>

      </div>
    </div>
</template>

<script>
export default {
name: "Input",
  data:()=>({
    content: '',
    imageFile:null,
    MAX_IMAGE_SIZE:2029567,
    localIsTyping:false
  }),
  methods:{
    sendMessage(){
      if(this.content!==''){
        this.$store.dispatch("POST_MESSAGE",{
          conversationId: this.$route.params.id,
          content: this.content.trim()
        })
        this.content=''
      }
    },
    sendIsTyping(isTyping){
      let formData=new  FormData();
      this.isTyping=true
      formData.append("isTyping",isTyping)
      let conversationId=this.$route.params.id
      return fetch('/messages/pushIsTyping/'+conversationId,{method:"POST",body:formData})
          .then(result => result.json())
    },
    activeIsTyping(value) {
        if(value.length>0 && !this.localIsTyping){
          this.sendIsTyping(true)
          this.localIsTyping=true
        }else if(value.length===0){
          this.sendIsTyping(false)
          this.localIsTyping=false
        }
    },
    uploadImage(){
      if(this.imageFile!==null){
        if(this.imageFile.size<=this.MAX_IMAGE_SIZE){
          this.$store.dispatch("POST_MEDIA",{
            conversationId: this.$route.params.id,
            media: this.imageFile
          }).then(()=>{
            this.imageFile = null
          })
        }else {
          alert('This file is too large max upload size is 2Mb')
          this.imageFile = null
        }
      }
    }
  },
  watch: {
    content(value){
      this.content = value;
      this.activeIsTyping(value);
    },

  }




}
</script>

<style scoped>

</style>