<template>
  <div v-if="mine!==null" class="media w-50 mb-3" :class="{'ml-auto': mine}">
    <img v-if="!mine" src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
    <div class="media-body ml-3">
      <div class=" rounded py-2 px-3 mb-2" :class="[mine? 'bg-primary' : 'bg-light']">
        <img v-if="message.media" :src="getImageLink()" alt="user" width="250" >
        <p class="text-small mb-0 " :class="[mine? 'text-white' : 'text-muted']">{{ message.content }}</p>
      </div>
      <p class="small text-muted">{{date}}</p>
    </div>
  </div>

</template>

<script>
import {mapGetters} from "vuex";

export default {
name: "Message",
  computed:{
    ...mapGetters(["USERNAME"]),
    date() {
      return new Date(this.message.createdAt).toLocaleString()
    },
    mine(){
      if(this.message.mine===this.USERNAME){
        return true
      }else if(this.message.mine===undefined  ){
        return  this.message.user.email===this.USERNAME
      }else if(this.message.mine===null){
        return null;
      }

    }
  },
  methods:{
      getImageLink(){
        return '/uploads/media/'+this.message.media
      }
  },
  props:{
    message: Object,
  }

}
</script>

<style scoped>

</style>