<template>
  <div class="col-7 px-0">
    <div class="px-4 py-5 chat-box bg-white" ref="messagesBody">
      <template v-for="(message, index,key) in MESSAGES">
        <Message
            :message="message"
        />

      </template>
      <label v-if="isTyping" class="text-muted">{{typeUser.split("@")[0]}} is typing...</label>
    </div>

    <Input/>
  </div>
</template>

<script>
import Message from "./Message";
import Input from "./Input";
import {mapGetters} from "vuex";

export default {
  name: "Right",
  data: () => ({
    eventSource: null,
    eventSourceIsTyping: null,
    isTyping:false,
    typeUser:''
  }),
  components: {Input, Message},
  computed: {
    ...mapGetters(["USERNAME"]),
    MESSAGES() {
      return this.$store.getters.MESSAGES(this.$route.params.id)
    }
  },
  methods: {
    scrollDown() {
      this.$refs.messagesBody.scrollTop = this.$refs.messagesBody.scrollHeight
    },
    addMessage(data) {
      this.$store.commit("ADD_MESSAGE", {
        conversationId: this.$route.params.id,
        payload: data
      })

    },
    getIsTyping(data){
      if(data !== undefined){
        if(data.isTyping === "true" && data.username.username!==this.USERNAME ){
          this.isTyping=true
          this.typeUser= data.username.username
        }else {
          this.isTyping=false
        }
      }else {
        this.isTyping=false
      }
    }
  },
  mounted() {
    console.log(this.$route.params.id)

    this.$store.dispatch("GET_MESSAGES", this.$route.params.id)
        .then(() => {
              const vm = this;
              this.scrollDown()
              if (this.eventSource === null) {
                const hubURL = window.location.origin + '/publisher/.well-known/mercure'
                let url = new URL(hubURL);
                url.searchParams.append('topic', '/conversations/' + this.$route.params.id)
                this.eventSource = new EventSource(url, {
                  withCredentials: true
                })
                this.eventSource.onmessage = function (event) {
                  vm.addMessage(JSON.parse(event.data))
                }
              }
            }
        ).then(() => {
             const vm = this;
              this.scrollDown()
              if (this.eventSourceIsTyping === null) {
                  const hubURL = window.location.origin + '/publisher/.well-known/mercure'
                   let url = new URL(hubURL);
                   url.searchParams.append('topic', '/isTyping/' + this.$route.params.id)
                  this.eventSourceIsTyping = new EventSource(url, {
                     withCredentials: true
                   })
             this.eventSourceIsTyping.onmessage = function (event) {
               vm.getIsTyping(JSON.parse(event.data))
             }
      }
    })
    ;
  },
  watch: {
    MESSAGES: function (val) {
      this.$nextTick(() => {
        this.scrollDown()
      })
    }
  },
  beforeDestroy() {
    if (this.eventSource instanceof EventSource) {
      this.eventSource.close()
    }
    if(this.eventSourceIsTyping instanceof EventSource){
      this.eventSourceIsTyping.close()
    }

  }

}
</script>

<style scoped>

</style>