<template>
  <div class="container py-5 px-4">

    <div class="row rounded-lg overflow-hidden shadow">
      <!-- Users box (Left side)-->
      <Left/>
      <!-- Chat Box (right side)-->
      <router-view :key="$route.fullPath"/>
    </div>
  </div>

</template>

<script>
import Right from "./Right/Right";
import Left from "./Left/Left";

export default {
  name: "App",
  components: {Left, Right}
}
</script>

<style scoped>

</style>