<template>
  <b-modal   v-bind="$attrs"  title="Contact">
    <div  v-for="(contact,index,key) in USERS" v-if="contact.email !== USERNAME" class="media mt-1">
      <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50"
           class="rounded-circle ">
      <b-link  @click="addNewConversation(contact.id)" class="ml-2 text-primary bg-transparent mt-3">
        {{ contact.email }}
      </b-link>
    </div>
  </b-modal>

</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Contact",

  computed: {
    ...mapGetters(["USERNAME","USERS","CONVERSATIONS"])
  },
  mounted() {
    this.$store.dispatch('GET_USERS')
  },
  methods:{
    addNewConversation(contactId){

      this.$store.dispatch('ADD_CONVERSATION',contactId).then(()=>{
            this.$bvModal.hide('contactsModal')
            this.$router.push({name: "conversation", params:{id: this.CONVERSATIONS[0].conversationId}})
      })

    }
  }
}
</script>

<style scoped>

</style>