<template>
  <router-link :to="{name: 'conversation' , params:{id: conversations.conversationId}}" class="list-group-item list-group-item-action  rounded-0">
    <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
      <div class="media-body ml-4">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <h6 class="mb-0">{{ conversations.email.split("@")[0]}}</h6>
            <small class="small font-weight-bold">{{date}}</small>
        </div>
        <b-row>
          <b-col cols="10">
            <p class="font-italic mb-0 text-small">{{conversations.content}}</p>
          </b-col>
          <b-col cols="2">
            <b-link>
              <b-icon icon="trash-fill" variant="danger" @click="deleteConversation(conversations.conversationId)" aria-hidden="true"></b-icon>
            </b-link>
          </b-col>
        </b-row>
      </div>

    </div>
  </router-link>
</template>

<script>
export default {
name: "Conversation",
  props:{
    conversations: Object
    },
  computed:{
    date() {
      console.log(this.conversations.createdAt)
      if(this.conversations.createdAt===null){
        return new Date().toLocaleTimeString()
      }
      return new Date(this.conversations.createdAt).toLocaleTimeString()
    }
  },
  methods:{
    deleteConversation(conversationId){
      let convName=this.conversations.email.split("@")[0]
      let remove= confirm('Are you sure to delete conversation with '+convName+'?')
      if(remove===true){
        this.$store.dispatch('DELETE_CONVERSATION',conversationId).then(()=>{
          this.$store.dispatch('GET_CONVERSATIONS')
          if(this.$route.path!=='/'){
            this.$router.push('/')
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>