<template>
  <div class="col-5 px-0">
    <div class="bg-white">

      <div class="bg-gray px-4 py-2 bg-light">
        <p class="h5 mb-0 py-1">Recent</p>
      </div>
      <div class="messages-box">
        <div class="list-group rounded-0">
          <template v-for="(conversations,index,key) in CONVERSATIONS">
            <Conversation
              :conversations="conversations"
            />
          </template>
        </div>
        <b-button pill class="m-3" variant="primary"  @click="$bvModal.show('contactsModal')">New Chat!</b-button>
            <Contacts id="contactsModal" />
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import Conversation from "../Left/Conversation";
import Contacts from "../Left/Contact";

export default {
name: "Left",
  components: {Conversation,Contacts},
  computed:{
    ...mapGetters(["CONVERSATIONS","USERNAME","USERS"])
  },
  mounted() {
  const vm=this;
  this.$store.dispatch("GET_CONVERSATIONS")
    .then(() => {
          const hubURL=window.location.origin +'/publisher/.well-known/mercure'
          let url = new URL(hubURL);
          url.searchParams.append('topic', '/conversations/' + this.USERNAME)
          const eventSource = new EventSource( url, {
            withCredentials: true
          })
          eventSource.onmessage = function (event) {

              vm.updateConversation(JSON.parse(event.data))

          }

    }).then(()=>{
    const hubURL=window.location.origin +'/publisher/.well-known/mercure'
    let url = new URL(hubURL);
    url.searchParams.append('topic', '/newConversation/')
    const eventSource = new EventSource( url, {
      withCredentials: true
    })
    eventSource.onmessage = function (event) {
      // console.log(event.data)
      vm.addNewConversations(JSON.parse(event.data))

    }
  })
  },
  methods:{
    updateConversation(data){
        this.$store.commit("UPDATE_CONVERSATIONS",data)
    },
    addNewConversations(data){
     this.$store.commit("SET_CONVERSATION",data)
    }

  }
}
</script>

<style scoped>

</style>
